body {
  background-color: #01080e;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 600;
}

p {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 400;
}

#outer-square {
  background-color: #3e4144a9;
  width: 80%;
  height: fit-content;
  padding: 10px;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
}

#contribution-graph {
  display: grid;
  grid-template-columns: repeat(70, 1fr);
  gap: 3px;
}

.contribution-square {
  width: 15px;
  height: 15px;
  background-color: #424242;
  border-radius: 4px;
  cursor: pointer;
}
.contribution-green {
  background-color: #2cbe4e;
}
.contribution-gray {
  background-color: #424242;
}

/*Brilho nas caixinhas ao passar o mouse*/
.contribution-square {
  width: 15px;
  height: 15px;
  background-color: #424242;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.contribution-square:hover {
  background-color: #555; 
}

.contribution-green {
  background-color: #2cbe4e;
  box-shadow: 0 0 10px #2cbe4e; 
}

.contribution-green:hover {
  background-color: #228c42; 
}

 /* Tornar os quadradinhos responsivos */
#contribution-graph {
  display: flex;
  flex-wrap: wrap;
}

